/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #fbfbfb;
    font-family: 'Courier New', monospace;
}
.container-fluid{
    background-color: #fbfbfb;
    width: 70%;
}
@media (max-width:1234px), print{
    .container-fluid{
        width: 100%;
    }
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.full-tab-pane {
    width: 100%;
    padding: 0px;
    /* background-color: blue; */
}
.full-width-pane {
    width: 100%;
    height: auto;
}
.row{
    margin: auto;
    width: 98%;
    padding-top: 1vh;
    margin-bottom: 1.2vh;
}
#personal-info-row{
    padding: 2vh;
    margin-top: 8vh;
    /* background-color: gray; */
    position: relative;
    /* background-image: url(img/bg_img.JPG);
    background-size: cover;
    background-position: center; */
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}
#personal-photo-div{
    text-align: center;
    padding: 2vh;
}
.photo{
    object-fit: cover; /* Do not scale the image */
    object-position: center;
}
.personal-photo{
    height: 30vh;
    width: 30vh;
    margin-left: -40%;
    object-fit: cover; /* Do not scale the image */
    object-position: center;
    display: inline-block;
    border-radius: 50%;
    border:10px #222633 solid;
    position: relative;
    z-index: 99;
}
#personal-photo-bg {
    position: absolute;
    background-color: #222633e3;
    margin-left: -10%;
    margin-top: -3%;
    width: 120%;
    height: 30.5vh;
    z-index: 0;
}
#personal-photo-bg.img {
    background-image: url(img/bg_img.JPG);
    background-size: cover;
    background-position: center;
    opacity: 0.6;
}

#personal-info{
    padding-top: 2vh;
    padding-left: 10%;
    /* background-color: rebeccapurple; */
    /* width: calc(70% - 30vh); */
    /* height: 30vh; */
    display: inline-block;
    text-align: left;
}
#about-me{
    padding-top: 0px;
    padding-bottom: 3vh;
    padding-left: 0vw;
    padding-right: 6vw;
    text-align: center;
    /* background-color: red; */
}
#recent-news {
    height: auto;
    border:3px #2a554c solid;
    margin-top: 3vh;
    padding: 2vh;
    background-color: rgba(0, 0, 0, 0.02);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
@media (max-width:1000px), print{
    #personal-info{
        padding-left: 6vw;
        padding-right: 6vw;
    }
    #about-me{
        padding-left: 6vw;
        padding-right: 6vw;
    }
    #recent-news {
        padding-left: 6vw;
        padding-right: 6vw;
    }
}
.list-group-item{
    border-width: 0px;
    background-color: inherit;
}
.text-content{
    width: 100%;
    overflow-wrap: break-word;
    font-size: 16px;
    text-align: left;
}
.filter-img {
    position: absolute;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    background-image: url(img/bg_img.JPG);
    background-size: cover;
    background-position: center;
    /* background-color:#fef4d9; */
    margin: -20px;
    filter: brightness(60%);
}

.navbar{
    background-color: 	#222633;
    border-color: 	#2f3752;
}
i {
    margin-right: 3%;
}
.h-line{
    margin-bottom: 20px;
    height: 2px;
    background-color: #2b3864;
    opacity: 0.7;
    border: 0px;
    border-radius: 1px;
}
#right-h-line {
    float: right; 
    height: 4px; 
    /* -webkit-clip-path: polygon(80% 0%, 0% 80%, 100% 100%, 100% 0%, 0% 0%); */
    /* margin-top: -8px; */
}
.link-icon {
    margin-bottom: 5px;
    display: inline-block;
    width: 48%;
    line-height: 30px;
    font-size: 20px;
    color: #52ab98;
}
.link-icon > i{
    margin: 0px;
}
@media (max-width:800px), print{
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 14px;
    }
    .link-icon {
        font-size: 14px;
    }
    .text-content{
        font-size: 12px;
    }
}
/* Publication */
#publication-list {
    height: auto;
    margin-top: 3vh;
    padding: 2vh;
    /* background-color: rgba(0, 0, 0, 0.02); */
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1); */
}
.list-group-item-heading.publication {
    font-size: 1.4vw;
    font-weight: bold;
}
.list-group-item-heading.publication.small {
    font-size: 1.2vw;
}
.list-group-item-text.publication {
    font-size: 1vw;
    margin-top: 1.2vh;
}
.list-group-item-text.small {
    font-size: 0.8vw;
    margin-top: 1vh;
}
.list-group-item-text.medium {
    color: #52ab98;
}
@media (max-width:700px), print{
    .list-group-item-heading.publication {
        font-size: 3vw;
    }
    .list-group-item-heading.publication.small {
        font-size: 2.8vw;
    }
    .list-group-item-text.publication {
        font-size: 2.5vw;
    }
    .list-group-item-text.small {
        font-size: 2.3vw;
    }
}

.list-group-item.publication {
    margin-top: 2.5vh;
}
.recent-news-date{
    text-align: right;
}
.recent-news-title{
    line-height: 1.8vw;
}